/* blog-detail page [START] */

/* navigation bar logo */
.nav img {
    float: left;
    width: 100px;
    height: 100px;
    padding-left: 10%;
}

/* main header image */
.header img {
    float: none;
    width: 100%;
    height: 1100%;
    padding-top: 10%;
}

/* blog title */
.content .title {
    width: 100%;
    padding-left: 8.6%;
}

.content .title h1 {
    font-family: "Termina Bold";
    color: #fff;
    font-size: 4rem;
    padding-right: 8.6%;
}

/* blog description */

.content .description {
    padding-left: 8.6%;
    padding-right: 10%;
}

.content .description p {
    font-family: "LetteraTextLL Regular";
    color: #808893;
    font-size: 2.5rem;
}

.shareBttn a {
    display: none;
}

/* main paragraph *left* */
.content .paragraph {
    padding-left: 8.6%;
    padding-right: 40%;
}

.content .paragraph p {
    font-family: "LetteraTextLL Regular";
    color: #fff;
    font-size: 1.5rem;
}

/* callout box on right */

.content .callout {
    width: 15rem;
    height: 20rem;
    margin-left: 8.6%;
    border-width: 0.15rem;
    border-color: #737373;
    border-style: solid;
    border-radius: 0.5rem;
}

/* blog-detail page [END] */

/* Blogs catalog page [START] */

.blogBox {
    background-color: #13161d;
    border-radius: 7%;
    width: 30%;
    height: 380px;
    margin-left: 7%;
    margin-right: 10%;
}

.blogBox a {
    display: block;
}

.blogBox .creator {
    /* background-color: #fff; */
    width: 70%;
    height: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.blogBox .creator img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0;
}

.blogBox .creator h1 {
    float: right;
    font-family: "LetteraTextLL Regular";
    color: white;
    font-size: 1.2rem;
    margin-left: 15%;
    margin-top: 15%;
}

.blogBox .creator p {
    float: right;
    font-family: "LetteraTextLL Regular";
    color: white;
    font-size: 1.2rem;
    margin-left: 15%;
    margin-top: 12%;
}


.blogBox img {
    border-radius: 7%;
    width: 70%;
    height: 50%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.blogBox h1 {
    font-family: "Termina Bold";
    color: white;
    font-size: 1.2rem;
    margin-left: 10%;
}

/* Blogs catalog page [END] */


/* Media queries */
@media only screen and (max-width:700px) {


    html,
    body {
        background-color: #000;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    /* navigation bar logo */
    .nav img {
        float: left;
        width: 100px;
        height: 100px;
        padding-left: 7%;
    }

    /* main header image */
    .header img {
        float: none;
        width: 100%;
        height: 1100%;
        padding-top: 10%;
    }

    /* blog title */
    .content .title {
        width: 100%;
        padding-left: 7%;
    }

    .content .title h1 {
        font-family: "Termina Bold";
        color: #fff;
        font-size: 3.5rem;
        padding-right: 7%;
    }

    .content .paragraph h2 {
        font-family: "Termina Bold";
        color: #fff;
        font-size: 1.8rem;
        padding-top: 2%;
    }

    .content .paragraph img {
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /* blog description */

    .content .description {
        padding-left: 7%;
        padding-right: 7%;
    }

    .content .description p {
        font-family: "LetteraTextLL Regular";
        color: #808893;
        font-size: 2rem;
    }

    .shareBttn a {
        display: unset;
        color: #fff;
        font-family: "LetteraTextLL Regular";
        background-color: #13161d;
        width: 5rem;
        height: 4rem;
        border-radius: 1rem;
        padding-top: 5%;
        padding-left: 12%;
        padding-right: 12%;
        padding-bottom: 5%;
        margin-left: 7%;
    }

    /* main paragraph *left* */
    .content .paragraph {
        padding-left: 7%;
        padding-right: 7%;
    }

    .content .paragraph p {
        font-family: "LetteraTextLL Regular";
        color: #fff;
        font-size: 1.2rem;
    }

    ul .a {
        list-style-type: upper-roman;
    }

    li {
        font-family: "LetteraTextLL Regular";
        font-size: 1.2rem;
        color: #fff;
        margin-top: 7%;
    }

    /* callout box on right */

    .codesnippet {
        background-color: #13161d;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        margin-top: 5%;
        border-radius: 2%;
    }

    .codesnippet p {
        font-family: "Termina Bold";
    }

    .content .callout {
        width: 15rem;
        height: 20rem;
        margin-left: 8.6%;
        border-width: 0.15rem;
        border-color: #737373;
        border-style: solid;
        border-radius: 0.5rem;
    }

    /* blog-detail page [END] */

    /* Blogs catalog page [START] */

    .blogBox {
        background-color: #13161d;
        border-radius: 7%;
        width: 86%;
        height: auto;
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 20%;
    }

    .blogBox a {
        display: block;
    }

    .blogBox .creator {
        /* background-color: #fff; */
        width: 80%;
        height: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .blogBox .creator img {
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 0;
    }

    .blogBox .creator h1 {
        text-decoration: none;
        float: right;
        font-family: "LetteraTextLL Regular";
        color: white;
        font-size: 1.2rem;
        margin-right: 0%;
        margin-top: 10%;
        padding-bottom: 0%;
    }

    .blogBox .creator p {
        float: right;
        font-family: "LetteraTextLL Regular";
        color: white;
        font-size: 1.2rem;
        margin-left: 10%;
        margin-top: 12%;
    }

    .blogBox img {
        border-radius: 3%;
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }

    .blogBox h1 {
        font-family: "Termina Bold";
        color: white;
        font-size: 1.2rem;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 10%;
    }

    /* Blogs catalog page [END] */
}