/* Segoe UI */
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    src: local('Segoe UI Regular'), url('../Fonts/Segoe/Segoe\ UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    src: local('Segoe UI Italic'), url('../Fonts/Segoe/Segoe\ UI\ Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: bold;
    src: local('Segoe UI Bold'), url('../Fonts/Segoe/Segoe\ UI\ Bold.woff') format('woff');
}

/* Ubuntu Mono */
@font-face {
    font-family: 'UbuntuMono-Regular';
    src: url('../Fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
}

/* Ubuntu */
@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../Fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
} 