/* Segoe UI */
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../Fonts/Segoe/Segoe\ UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: 100;
    src: local('Segoe UI Italic'), url('../Fonts/Segoe/Segoe\ UI\ Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: bold;
    font-weight: 100;
    src: local('Segoe UI Bold'), url('../Fonts/Segoe/Segoe\ UI\ Bold.woff') format('woff');
}

/* Ubuntu Mono */
@font-face {
    font-family: 'UbuntuMono-Regular';
    src: url('../Fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
}

/* Ubuntu */
@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../Fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}  


html,body {
    background-color: #101010;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    padding-top: 3%;
}

/* website logo */
.nav .logo {
    display: block;
    float: left;
    width: 50%;
}

.nav .logo img {
    width: 20%;
    height: auto;
    padding-left: 10%;
}
 
.nav .nav-links {
    display: flex;
    width: 60%;
    list-style: none;
    margin-right: 0%;
    margin-top: 3%;
    justify-content: space-around;
}

.nav .nav-links li a {
    font-family: "UbuntuMono-Regular";
    color: white;
    text-decoration: none;
    padding-right: 90%;
}

.nav .nav-links li a:hover{
    font-family: "UbuntuMono-Regular";
    color: #995AFF;
    text-decoration: none;
    padding-right: 90%;
}

.nav .menu {
    display: none;
}


/* top - section [START] */

.top-section {
    display: flex;
    width: 1005;
    margin-top: 5%;
}

.top-section .content {
    width: 50%;
    margin-left: 0%;
    padding-top: 10%;
}

.top-section .top-section-image img {
    width: 70%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.badge {
    background-color: #995AFF;
    width: 40%;
    margin-left: 15%;
    margin-right: 20%;
}

.badge h1 {
    color: white;
    text-align: center;
    font-family: "Ubuntu-Light";
    font-weight: 100;
    font-size: 0.8rem;
    padding: 5%;
}

.top-section .title h1 {
    color: white;
    text-align: left;
    font-family: "Segoe UI Bold";
    font-size: 2.4rem;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

.top-section .title h2 {
    color: white;
    text-align: left;
    font-family: "Segoe UI Italic";
    font-size: 1rem;
    font-weight: 100;
    width: 60%;
    padding-left: 15%;
    padding-right: 20%;
}
/* top - section [END] */

/* middle - section [START] */
.middle-section {
    display: flex;
    width: 100%;
    height: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
}

.middle-section .cards {
    width: 50%;
}

.middle-section .card {
    background-color: #1A1A1A;
    width: 100%;
}

.middle-section .card h1 {
    color: white;
    text-align: left;
    font-family: "Segoe UI Bold";
    font-size: 1.2rem;
    padding-left: 8%;
    padding-top: 5%;
}

.middle-section .card h2 {
    color: white;
    text-align: left;
    font-family: "Ubuntu-Light";
    font-size: 0.7rem;
    font-weight: 100;
    padding-left: 8%;
}

.middle-section .card p {
    color: white;
    text-align: left;
    font-family: "Segoe UI Italic";
    font-size: 0.8rem;
    padding-left: 8%;
    padding-bottom: 10%;
}

.middle-section .card img {
    float: right;
    padding-right: 8%;
}

.middle-section .middle-content {
    float: right;
    width: 50%;
    padding-left: 10%;
    padding-right: 18%;
}

.middle-section .middle-content h1 {
    color: #808893;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 0.8rem;
    margin-top: 5rem;
}

.middle-section .middle-content h2 {
    color: #fff;
    text-align: left;
    font-family: "Segoe UI Bold";
    font-size: 2rem;
}

.middle-section .middle-content h3 {
    color: #fff;
    text-align: left;
    font-family: "Segoe UI Italic";
    font-size: 1.3rem;
}

.middle-section .middle-content p {
    color: #737373;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 1.2rem;
}
/* middle - section [END] */

/* Bottom - section [START] */
.bottom-section {
    width: 80%;
    height: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    padding-bottom: 20%;
}

.bottom-section .top-text h1 {
    color: #fff;
    text-align: left;
    font-family: "Segoe UI Bold";
    font-size: 2rem;
}

.bottom-section .top-text p {
    color: #737373;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 1.2rem;
}

.bottom-section .bottom-text h1 a{
    color: #995AFF;
    text-align: left;
    font-family: "Segoe UI Bold";
    font-size: 2rem;
}

.bottom-section .bottom-text p {
    color: #737373;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 1.2rem;
}

.bottom-section .bottom-text a {
    color: #995AFF;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 1.2rem;
}
/* Bottom - section [END] */

/* footer [START] */
.footer {
    display: flex;
    background-color: #1A1A1A;
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 3%;
}

.footer .left-section {
    float: left;
    width: 50%;
    margin-left: 5%;
}

.footer .left-section .top-text {
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.footer .left-section .top-text h1 {
    color: white;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 1rem;
    font-weight: 100;
}

.footer .left-section .top-text a {
    color: #995AFF;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 1.2rem;
}

.footer .left-section .top-text h2 {
    color: #808893;
    text-align: left;
    font-family: "UbuntuMono-Regular";
    font-size: 1rem;
    font-weight: 100;
    margin-top: 5%;
}

.footer .left-section .top-text h3 a {
    color: #C4C4C4;
    text-decoration: none;
    text-align: left;
    font-family: "Segoe UI";
    font-size: 1.2rem;
}

.footer .left-section .top-text h4 a {
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-family: "Segoe UI";
    font-size: 1.2rem;
}

.footer .right-section {
    width: 50%;
}

.footer .right-section .nav-links-footer {
    width: 60%;
    list-style: none;
}

.footer .right-section .nav-links-footer li{
    padding-bottom: 10%;
}

.footer .right-section .nav-links-footer li a {
    font-family: "UbuntuMono-Regular";
    color: white;
    text-decoration: none;
}

.footer .right-section .nav-links-footer li a:hover{
    font-family: "UbuntuMono-Regular";
    color: #995AFF;
    text-decoration: none;
}

.copyright p {
    float: none;
    color: #fff;
    background-color: #1A1A1A;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 0.8rem;
    padding-bottom: 5%;
    margin: 0;
}

/* footer [END] */

/* Media queries */
@media only screen and (max-width:700px) {

    html,body {
        background-color: #101010;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        scroll-behavior: smooth;
    }

    .nav {
        display: flex;
        padding-top: 10%;
    }

    .nav .nav-links {
        display: none;
    }

    /* website logo */
    .nav .logo {
        display: block;
        float: left;
        width: 50%;
    }

    .nav .logo img {
        width: 40%;
        height: auto;
        padding-left: 8%;
    }

    /* menu button */
    .nav .menu {
        display: block;
        width: 50%;
    }

    .nav .menu a img {
        display: block;
        float: right;
        width: 12%;
        height: auto;
        padding-right: 14%;
        padding-top: 10%;
    }

    /* top - section [START] */

    .top-section {
        display: inline;
        margin-top: 15%;
    }

    .top-section .content {
        width: 100%;
        margin-top: 5%;
        margin-left: 0%;
    }

    .top-section .top-section-image img {
        width: 80%;
        height: auto;
        padding-left: 15%;
        padding-top: 10%;
        padding-right: 5%;
    }

    .badge {
        background-color: #995AFF;
        width: 60%;
        height: 30%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .badge h1 {
        color: white;
        text-align: center;
        font-family: "Ubuntu-Light";
        font-weight: 100;
        font-size: 0.8rem;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .top-section .title h1 {
        color: white;
        text-align: center;
        font-family: "Segoe UI Bold";
        font-size: 2.4rem;
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }

    .top-section .title h2 {
        color: white;
        text-align: center;
        font-family: "Segoe UI Italic";
        font-size: 1rem;
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }
    /* top - section [END] */

    /* middle - section [START] */
    .middle-section {
        display: block;
        width: 80%;
        height: 80%;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 30%;
    }

    .middle-section .cards {
        width: 100%;
    }

    .middle-section .card {
        background-color: #1A1A1A;
    }

    .middle-section .card h1 {
        color: white;
        text-align: left;
        font-family: "Segoe UI Bold";
        font-size: 1.2rem;
        padding-left: 8%;
        padding-top: 5%;
    }

    .middle-section .card h2 {
        color: white;
        text-align: left;
        font-family: "Ubuntu-Light";
        font-size: 0.7rem;
        font-weight: 100;
        padding-left: 8%;
    }

    .middle-section .card p {
        color: white;
        text-align: left;
        font-family: "Segoe UI Italic";
        font-size: 0.8rem;
        padding-left: 8%;
        padding-bottom: 10%;
    }

    .middle-section .card img {
        float: right;
        padding-right: 8%;
    }

    .middle-section .middle-content {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .middle-section .middle-content h1 {
        color: #808893;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 0.8rem;
        margin-top: 5rem;
    }

    .middle-section .middle-content h2 {
        color: #fff;
        text-align: left;
        font-family: "Segoe UI Bold";
        font-size: 2rem;
    }
    
    .middle-section .middle-content h3 {
        color: #fff;
        text-align: left;
        font-family: "Segoe UI Italic";
        font-size: 1.3rem;
    }

    .middle-section .middle-content p {
        color: #737373;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 1.2rem;
    }
    /* middle - section [END] */

    /* Bottom - section [START] */
    .bottom-section {
        width: 80%;
        height: 80%;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 10%;
        padding-bottom: 20%;
    }

    .bottom-section .top-text h1 {
        color: #fff;
        text-align: left;
        font-family: "Segoe UI Bold";
        font-size: 2rem;
    }

    .bottom-section .top-text p {
        color: #737373;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 1.2rem;
    }

    .bottom-section .bottom-text h1 a{
        color: #995AFF;
        text-align: left;
        font-family: "Segoe UI Bold";
        font-size: 2rem;
    }

    .bottom-section .bottom-text p {
        color: #737373;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 1.2rem;
    }

    .bottom-section .bottom-text a {
        color: #995AFF;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 1.2rem;
    }
    /* Bottom - section [END] */

    /* footer [START] */
    .footer {
        background-color: #1A1A1A;
        width: 100%;
        height: auto;
        padding-bottom: 3%;
    }

    .footer .left-section {
        float: none;
        width: 100%;
    }

    .footer .left-section .top-text {
        width: 80%;
        height: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 8%;
    }

    .footer .left-section .top-text h1 {
        color: white;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 1rem;
        font-weight: 100;
    }

    .footer .left-section .top-text a {
        color: #995AFF;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 1.2rem;
    }

    .footer .left-section .top-text h2 {
        color: #808893;
        text-align: left;
        font-family: "UbuntuMono-Regular";
        font-size: 1rem;
        font-weight: 100;
        margin-top: 20%;
    }

    .footer .left-section .top-text h3 a {
        color: #C4C4C4;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI";
        font-size: 1.2rem;
    }

    .footer .left-section .top-text h4 a {
        color: #fff;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI";
        font-size: 1.2rem;
    }

    .footer .left-section p {
        color: #fff;
        text-align: center;
        font-family: "Segoe UI";
        font-size: 0.8rem;
        margin-top: 20%;
        padding-bottom: 10%;
    }

    .footer .right-section {
        display: none;
    }

    .copyright p {
        padding-bottom: 10%;
    }
    
    /* footer [END] */
}