.image {
    display: block;
    width: 100%;
    margin-top: 5%;
}

.image img {
    width: 20%;
    padding-left: 40%;
    padding-right: 40%;
}

.content {
    width: 100%;
}

.content h1 {
    font-family: "Segoe UI Bold";
    font-weight: 100;
    color: white;
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

.content h2 {
    font-family: "UbuntuMono-Regular";
    font-weight: 100;
    color: #737373;
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

@media only screen and (max-width:700px) {
    
    .image {
        display: block;
        width: 100%;
        margin-top: 20%;
    }

    .content {
        width: 100%;
    }
    
    .content h1 {
        font-family: "Segoe UI Bold";
        font-weight: 100;
        color: white;
        text-align: center;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .content h2 {
        font-family: "UbuntuMono-Regular";
        font-weight: 100;
        font-size: medium;
        color: #737373;
        text-align: center;
        width: 40%;
        margin-left: 30%;
    }

}