.desktopview {
    width: 100%;
    padding-top: 10%;
}

.desktopview h1 {
    font-family: "Termina Bold";
    color: white;
    font-weight: 100;
    text-align: center;
}

.desktopview h2 {
    font-family: "LetteraTextLL Regular";
    color: #737373;
    font-weight: 100;
    text-align: center;
}

.dismissBttn {
    display: none;
}

.nav {
    display: none;
}

@media only screen and (max-width:700px) {

    .desktopview {
        display: none;
    }

    .dismissBttn {
        display: block;
        float: right;
        margin-top: 15%;
        margin-right: 7%;
    }

    .nav {
        display: block;
        width: 100%;
    }

    .nav .links {
        width: 50%;
        list-style: none;
        padding-left: 25%;
        padding-right: 25%;
        margin-top: 40%;
    }

    .nav .links li {
        text-align: center;
        padding-bottom: 30%;
    }

    .nav .links li a {
        font-family: "LetteraTextLL Regular";
        color: white;
        text-decoration: none;
    }

}