/* Segoe UI Bold */
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: bold;
    font-weight: 100;
    src: local('Segoe UI Bold'), url('../Fonts/Segoe/Segoe\ UI\ Bold.woff') format('woff');
}
/* Ubuntu Mono */
@font-face {
    font-family: 'UbuntuMono-Regular';
    src: url('../Fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
}


html,body {
    background-color: #101010;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.desktopview {
    width: 100%;
    padding-top: 10%;
}

.desktopview h1 {
    font-family: "Segoe UI Bold";
    color: white;
    font-weight: 100;
    text-align: center;
}

.desktopview h2 {
    font-family: "UbuntuMono-Regular";
    color: #737373;
    font-weight: 100;
    text-align: center;
}

.dismissBttn {
    display: none;
}

.nav {
    display: none;
}

@media only screen and (max-width:700px) {

    .desktopview {
        display: none;
    }

    .dismissBttn {
        display: block;
        float: right;
        margin-top: 15%;
        margin-right: 7%;
    }
    
    .nav {
        display: block;
        width: 100%;
    }

    .nav .nav-links {
        width: 50%;
        list-style: none;
        padding-left: 25%;
        padding-right: 25%;
        margin-top: 60%;
    }
    
    .nav .nav-links li{
        text-align: center;
        padding-bottom: 30%;
    }
    
    .nav .nav-links li a {
        font-family: "UbuntuMono-Regular";
        color: white;
        text-decoration: none;
    }

}