.header {
    margin-top: 5%;
}

.header h1 {
    font-family: 'Segoe UI Bold';
    font-weight: 100;
    text-align: center;
    color: white;
}

.header h1 span {
    font-family: 'UbuntuMono-Regular';
    font-size: small;
    font-weight: 100;
    text-align: center;
    color: wheat;   
}

.links {
    margin-top: 5%;
}

.links a {
    text-decoration: none;
}

.links a h1 {
    font-family: 'UbuntuMono-Regular';
    text-align: center;
    color: white;
}

