/* Termina */
@font-face {
    font-family: 'Termina Bold';
    src: url('../Fonts/Termina/Termina-W05-Bold.ttf') format('truetype');
}

/* LetteraTextLL */
@font-face {
    font-family: 'LetteraTextLL Regular';
    src: url('../Fonts/LetteraTextLL/LetteraTextLL-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'LetteraTextLL Italic';
    src: url('../Fonts/LetteraTextLL/LetteraTextLL-Italic.otf') format('truetype');
}

/* MarkPro */
@font-face {
    font-family: 'MarkPro Regular';
    src: url('../Fonts/MarkProSet/FontFont_FF.Mark.Pro.otf') format('truetype');
}

@font-face {
    font-family: 'MarkPro Bold';
    src: url('../Fonts/MarkProSet/FontFont_FF.Mark.Pro.Black.otf') format('truetype');
}

html,
body {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav {
    display: flex;
    padding-top: 3%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/* website logo */
.nav .logo {
    display: flex;
    float: left;
    width: 20%;
}

.nav .logo img {
    width: 30%;
    height: auto;
}

.nav .right-content {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.nav .right-content-mobile {
    display: none;
}

/* drop down  */

.dropdown {
    position: relative;
    display: inline-block;
    width: 20%;
    margin-top: 1%;
}

.dropbtn {
    background-color: transparent;
    font-family: "LetteraTextLL Regular";
    color: white;
    padding: 0.5rem 1rem;
    padding-right: 2.4rem;
    font-size: 16px;
    border: 0.07rem;
    cursor: pointer;
    transition: 0.3s;
    align-self: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A1A1A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;
    padding: 1.5% 1%;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: gray;
    font-family: "LetteraTextLL Regular";
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: #1e1e1e;
    border-radius: 1rem;
    color: white;
}

.download {
    margin-top: 0.5rem;
}

.download a {
    text-decoration: none;
}

.download-apps-button {
    font-family: "MarkPro Regular";
    font-size: 0.45rem;
    background-color: #1A1A1A;
    padding: 0.1rem 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 100%;
    border: solid;
    border-color: #EDD348;
    border-width: 0.1rem;
}

.download-apps-button h2 {
    text-align: center;
    padding: 0%;
    color: white;
}

/* footer [START] */
.footer {
    display: flex;
    background-color: #1A1A1A;
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 3%;
}

.footer .left-section {
    float: left;
    width: 50%;
    margin-left: 5%;
}

.footer .left-section .top-text {
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.footer .left-section .top-text h1 {
    color: white;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1rem;
    font-weight: 100;
}

.footer .left-section .top-text a {
    color: #EDD348;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1.2rem;
}

.footer .left-section .top-text h2 {
    color: #808893;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1rem;
    font-weight: 100;
    margin-top: 5%;
}

.footer .left-section .top-text h3 a {
    color: #C4C4C4;
    text-decoration: none;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1.2rem;
}

.footer .left-section .top-text h4 a {
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1.2rem;
}

.footer .right-section {
    width: 50%;
}

.footer .right-section .nav-links-footer {
    width: 60%;
    list-style: none;
}

.footer .right-section .nav-links-footer li {
    padding-bottom: 6%;
}

.footer .right-section .nav-links-footer li a {
    font-family: "LetteraTextLL Regular";
    color: white;
    text-decoration: none;
}

.footer .right-section .nav-links-footer li a:hover {
    font-family: "LetteraTextLL Regular";
    color: #EDD348;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.copyright p {
    float: none;
    color: #fff;
    background-color: #1A1A1A;
    text-align: center;
    font-family: "LetteraTextLL Regular";
    font-size: 0.8rem;
    padding-bottom: 5%;
    margin: 0;
}

/* footer [END] */

/* Media queries */
@media only screen and (max-width:700px) {

    .nav {
        padding-top: 0%;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .nav .logo {
        width: 20%;
        margin-left: 5%;
    }

    .nav .logo img {
        width: 50%;
        height: auto;
        padding-left: 0%;
    }

    .dropdown {
        display: flex;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1A1A1A;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 1rem;
        padding: 1.5% 1%;
        transition: 0.3s;
        margin-left: -250%;
        margin-top: 7%;
    }

    .right-content-mobile .download-button {
        margin-top: 2%;
        width: 10%;
    }

    .right-content-mobile .download-button img {
        padding: 7% 10%;
        background-color: #EDD348;
        border-radius: 0.5rem;
        width: 60%;
        border: 0.2rem;
        border-color: #1A1A1A;
        border-style: solid;
    }

    .dropdown .menu-icon {
        float: right;
        background-color: transparent;
        border: none;
    }

    .right-content-mobile .dropdown .menu-icon img {
        width: 60%;
    }

    /* menu button */
    .nav .menu {
        display: block;
        width: 50%;
    }

    .nav .menu a img {
        display: block;
        float: right;
        width: 12%;
        height: auto;
        padding-right: 14%;
        padding-top: 10%;
    }

    .nav .right-content {
        display: none;
    }

    .nav .right-content-mobile {
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }

    /* footer [START] */

    .footer .left-section {
        float: none;
        width: 100%;
    }

    .footer .left-section .top-text {
        padding-top: 8%;
    }

    .footer .left-section .top-text h2 {
        margin-top: 20%;
    }

    .footer .right-section {
        display: none;
    }

    .copyright p {
        padding-bottom: 10%;
    }

    /* footer [END] */
}