/* Termina */
@font-face {
    font-family: 'Termina Bold';
    src: url('../Fonts/Termina/Termina-W05-Bold.ttf') format('truetype');
}

/* LetteraTextLL */
@font-face {
    font-family: 'LetteraTextLL Regular';
    src: url('../Fonts/LetteraTextLL/LetteraTextLL-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'LetteraTextLL Italic';
    src: url('../Fonts/LetteraTextLL/LetteraTextLL-Italic.otf') format('truetype');
}

/* MarkPro */
@font-face {
    font-family: 'MarkPro Regular';
    src: url('../Fonts/MarkProSet/FontFont_FF.Mark.Pro.otf') format('truetype');
}

@font-face {
    font-family: 'MarkPro Bold';
    src: url('../Fonts/MarkProSet/FontFont_FF.Mark.Pro.Black.otf') format('truetype');
}

html,
body {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav {
    display: flex;
    padding-top: 1%;
}

/* website logo */
.nav .logo {
    display: block;
    float: left;
    width: 50%;
}

.nav .logo img {
    width: 10%;
    height: auto;
    padding-left: 10%;
}

.nav .nav-links {
    display: flex;
    width: 60%;
    list-style: none;
    margin-right: 0%;
    margin-top: 3%;
    justify-content: space-around;
}

.nav .nav-links li a {
    font-family: "LetteraTextLL Regular";
    color: white;
    text-decoration: none;
    padding-right: 90%;
}

.nav .nav-links li a:hover {
    font-family: "LetteraTextLL Regular";
    color: #EDD348;
    text-decoration: none;
    padding-right: 90%;
    transition: all 0.3s ease-in-out;
}

.nav .menu {
    display: none;
}

/* footer [START] */
.footer {
    display: flex;
    background-color: #1A1A1A;
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 3%;
}

.footer .left-section {
    float: left;
    width: 50%;
    margin-left: 5%;
}

.footer .left-section .top-text {
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.footer .left-section .top-text h1 {
    color: white;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1rem;
    font-weight: 100;
}

.footer .left-section .top-text a {
    color: #EDD348;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1.2rem;
}

.footer .left-section .top-text h2 {
    color: #808893;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1rem;
    font-weight: 100;
    margin-top: 5%;
}

.footer .left-section .top-text h3 a {
    color: #C4C4C4;
    text-decoration: none;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1.2rem;
}

.footer .left-section .top-text h4 a {
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-family: "LetteraTextLL Regular";
    font-size: 1.2rem;
}

.footer .right-section {
    width: 50%;
}

.footer .right-section .nav-links-footer {
    width: 60%;
    list-style: none;
}

.footer .right-section .nav-links-footer li {
    padding-bottom: 6%;
}

.footer .right-section .nav-links-footer li a {
    font-family: "LetteraTextLL Regular";
    color: white;
    text-decoration: none;
}

.footer .right-section .nav-links-footer li a:hover {
    font-family: "LetteraTextLL Regular";
    color: #EDD348;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.copyright p {
    float: none;
    color: #fff;
    background-color: #1A1A1A;
    text-align: center;
    font-family: "LetteraTextLL Regular";
    font-size: 0.8rem;
    padding-bottom: 5%;
    margin: 0;
}

/* footer [END] */

/* Media queries */
@media only screen and (max-width:700px) {

    .nav {
        padding-top: 0%;
    }

    .nav .nav-links {
        display: none;
    }

    .nav .logo img {
        width: 30%;
        height: auto;
        padding-left: 10%;
    }

    /* menu button */
    .nav .menu {
        display: block;
        width: 50%;
    }

    .nav .menu a img {
        display: block;
        float: right;
        width: 12%;
        height: auto;
        padding-right: 14%;
        padding-top: 10%;
    }

    /* footer [START] */

    .footer .left-section {
        float: none;
        width: 100%;
    }

    .footer .left-section .top-text {
        padding-top: 8%;
    }

    .footer .left-section .top-text h2 {
        margin-top: 20%;
    }

    .footer .right-section {
        display: none;
    }

    .copyright p {
        padding-bottom: 10%;
    }

    /* footer [END] */
}